@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #fbfbfb;
    --foreground: #0f0f0f;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0f0f0f;
        --foreground: #fbfbfb;
    }
} */

body {
    background: var(--background);
    color: var(--foreground);
}

body,
html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
